@media (max-width: 920px){
  .hero__content {
    flex-direction: row;
  }

  .hero__media {
    width: 50%;
  }

  .hero__phone {
    width: 50%;
  }

  .hero__text {
    width: 50%;
    padding: 5rem;
  }

  .features__content {
    flex-direction: column;
    margin-top: 2rem;
  }

  .features__media {
    width: 90%;
    margin-bottom: 5rem;
  }
  
  .pricing__cards {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .pricing__card {
    width: 90%;
    margin-bottom: 3%;
  }

  /* ---------- FOOTER ---------- */
  .footer__container {
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }

  .footer__social {
    padding-left: 0;
    justify-content: center;
    margin-top: 1rem;
  }
}


/* @media (max-width: 768px){
  .header__container {
    flex-direction: row;
    height: 8vh;
  }

  .header__menu {
    flex-direction: row;
    margin-top: 0;
  }

} */